body {
    font-family: "neris", "Arial", sans-serif;
    position: absolute;
    background: rgb(40, 45, 50);
    color: rgb(200, 200, 200);
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: 100%;
}

h1 {
    font-size: 20px;
    font-weight: 100;
}

#top-container input[type=text] {
    width: 140px;
}

#top-container input {
    height: 20px;
    background: #ddd;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#top-container button {
    background: rgb(60, 70, 70);
    border: none;
    box-shadow: 0 2px 0 0 rgba(200, 200, 200, 1);
    color: inherit;
    font-weight: 600;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.1s;
}

#top-container button:active {
    transform: translate(0, 2px);
    box-shadow: none;
}

#top-container * {
    margin: 10px;
}

#top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

#main-viz {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bird-item {
    padding: 5px;
    color: #fafafa;
    margin: 5px;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    max-width: min(600px, calc(100% - 20px));
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.hidden-content {
    display: block;
    max-width: 0;
    max-height: 0;
    overflow-y: scroll;
}

.hidden-content::-webkit-scrollbar {
    display: none;
}

.hidden-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bird-item input:checked~.hidden-content {
    margin-top: 5px;
    max-width: 500px;
    max-height: 400px;
}

.bird-item, .hidden-content {
    transition: all 0.5s;
}

#main-viz input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.bird-item a {
    text-decoration: none;
    font-weight: 100;
    font-size: 0.9em;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: block;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
}

.bird-item a:hover {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

.count {
    position: absolute;
    font-weight: 100;
    height: 15px;
    top: -10px;
    right: 5px;
    color: inherit;
    background: rgb(40, 45, 50);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}



/* The animation code */
@keyframes buffer1 {
    0% {
        opacity: 0;
        left: 0;
        top: 50%;
        transform: rotate(0deg);
        border-radius: 25px;
    }

    50% {
        opacity: 1;
        left: calc(50% - 13px);
        top: 20%;
        transform: rotate(-720deg);
        border-radius: 7px;
    }

    100% {
        opacity: 0;
        left: calc(100% - 25px);
        top: 50%;
        transform: rotate(-1440deg);
        border-radius: 25px;
    }
}

@keyframes buffer2 {
    0% {
        opacity: 0;
        left: 0;
        top: 50%;
        transform: rotate(0deg);
        border-radius: 25px;
    }

    50% {
        opacity: 1;
        left: calc(75% - 13px);
        top: 25%;
        transform: rotate(-360deg);
        border-radius: 7px;
    }

    100% {
        opacity: 0;
        left: calc(100% - 25px);
        top: 50%;
        transform: rotate(-720deg);
        border-radius: 25px;
    }
}

@keyframes buffer3 {
    0% {
        opacity: 0;
        left: 0;
        top: 50%;
        transform: rotate(0deg);
        border-radius: 25px;
    }

    50% {
        opacity: 1;
        left: calc(25% - 13px);
        top: 25%;
        transform: rotate(-360deg);
        border-radius: 7px;
    }

    100% {
        opacity: 0;
        left: calc(100% - 25px);
        top: 50%;
        transform: rotate(-720deg);
        border-radius: 25px;
    }
}

.buffering-circle {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(90, 95, 105);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
    left: 0px;
    top: 50%;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

#bc1 {
    animation: buffer1 4s infinite;
}

#bc2 {
    animation: buffer2 3s infinite;
}

#bc3 {
    animation: buffer3 5s infinite;
}

#status-message {
    width: 100%;
    text-align: center;
    font-weight: 100;
    color: #999;
    padding-bottom: 5px;
}