<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Twitter Sightings</title>
    <link rel="stylesheet" href={{ url_for( 'static' ,filename='styles/font_stylesheet.css' ) }}>
    <link rel="stylesheet" href={{ url_for( 'static' ,filename='styles/style.css' ) }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>

    <script>

        let sightingsData = [],
            responseSummary = {};
        const TODAY = new Date();
        let ONE_WEEK_AGO = new Date();
        ONE_WEEK_AGO.setDate(ONE_WEEK_AGO.getDate() - 7);

        let labelCols = {
            'Birds': 'rgb(60, 83, 132)',
            'Lepidoptera': 'rgb(114, 90, 153)',
            'Other Animals': 'rgb(90, 95, 105)',
            'Plants': 'rgb(40,100,78)',
            'Fungi': 'rgb(124, 60, 65)'
        };

        function getData() {
            document.getElementById('status-message').innerText = '';
            let bufferDivs = Array.from(document.getElementsByClassName('buffering-circle'));
            bufferDivs.forEach(bd => bd.style.visibility = 'visible');

            document.getElementById('main-viz').innerHTML = '';
            let body = {
                'keyword': document.getElementById('search-term').value,
                'start_date': document.getElementById('start-date').value,
                'end_date': document.getElementById('end-date').value,
                'max_tweets': 10000
            }

            fetch(`${window.origin}/run-script`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(body),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
                .then(function (response) {
                    if (response.status !== 200) {
                        document.getElementById('status-message').innerText = (
                            `Looks like there was a problem. Status code: ${response.status}`
                        );
                        bufferDivs.forEach(bd => bd.style.visibility = 'hidden');
                        return;
                    }
                    response.json().then(function (data) {
                        let sightings = data['sightings'];

                        // make globally accessible, because why not.
                        sightingsData = sightings.records;
                        responseSummary = sightings.summary;

                        bufferDivs.forEach(bd => bd.style.visibility = 'hidden');
                        plotData(sightingsData, responseSummary);

                    });
                })
                .catch(function (error) {
                    document.getElementById('status-message').innerText = "Fetch error: " + error;
                    bufferDivs.forEach(bd => bd.style.visibility = 'hidden');
                });
        }

        function plotData(sightingsData, responseSummary) {
            let tweetsBySpecies = sightingsData.map(
                sighting => sighting.species.map(
                    function (species, idx) { return { 'species': species, 'label': sighting.labels[idx], 'tweet': sighting.content, 'id': sighting.id } }
                )
            ).flat();
            let groupedData = d3.group(tweetsBySpecies, function (d) { return (d.species) });
            groupedData = Array.from(groupedData).sort((a, b) => b[1].length - a[1].length);

            d3.select('#main-viz')
                .selectAll("div")
                .data(groupedData)
                .enter()
                .append("label")
                .attr("class", "bird-item")
                .style("background", d => labelCols[d[1][0].label])
                .html(
                    d => `<div class="count">${d[1].length}</div>
                        <input type="checkbox">
                        ${d[0]}
                        <div class="hidden-content">
                            ${d[1].map(twt => '<a class="tweet-content" target="_blank" href="https://twitter.com/anyuser/status/' + twt.id + '">' + twt.tweet + '</a>').join('')}
                        </div>`
                )
                .attr("width", d => `${d[1].length}px`)

            document.getElementById('status-message').innerText = (
                responseSummary.status == 'incomplete'
                    ? `Too many results. Only showing ${responseSummary.minDate} - ${responseSummary.maxDate}`
                    : ''
            )
        }
    </script>

    <div id="top-container">
        <h1>Twitter Sightings Scraper</h1>
        <input type="text" id="search-term" name="search-term" placeholder="search">
        <label for="start-date">From</label>
        <input type="date" id="start-date" name="start-date">
        <label for="end-date">To</label>
        <input type="date" id="end-date" name="end-date">
        <button id="search-go" onclick="getData();">Go</button>
    </div>
    <div id="main-container">
        <div class="buffering-circle" id="bc1" style="visibility: hidden;"></div>
        <div class="buffering-circle" id="bc2" style="visibility: hidden;"></div>
        <div class="buffering-circle" id="bc3" style="visibility: hidden;"></div>
        <div id="status-message"></div>
        <div id="main-viz"></div>
    </div>

    <script>
        ['search-term', 'start-date', 'end-date'].forEach((id) => {
            // click button if hit enter from textbox
            document.getElementById("search-term")
                .addEventListener("keyup", function (event) {
                    event.preventDefault();
                    if (event.keyCode === 13) {
                        document.getElementById("search-go").click();
                    }
                });
        })

        document.getElementById('start-date').value = d3.timeFormat('%Y-%m-%d')(ONE_WEEK_AGO);
        document.getElementById('end-date').value = d3.timeFormat('%Y-%m-%d')(TODAY);
    </script>
</body>

</html>